<div class="sidebar" [class.open]="isOpen">
  <h2 class="sidebar-title">Roadmap Angular</h2>

  <ul class="sidebar-links">
    <li><a routerLink="/" class="sidebar-link" (click)="close()">Introducción</a></li>
    <li><a routerLink="/componentes" class="sidebar-link" (click)="close()">Componentes</a></li>
    <li><a routerLink="/modulos" class="sidebar-link" (click)="close()">Módulos</a></li>
    <li><a routerLink="/services" class="sidebar-link" (click)="close()">Services</a></li>
    <li><a routerLink="/directivas" class="sidebar-link" (click)="close()">Directivas</a></li>
    <li><a routerLink="/rutas" class="sidebar-link" (click)="close()">Rutas</a></li>
    <li><a routerLink="/formularios" class="sidebar-link" (click)="close()">Formularios</a></li>
  </ul>
</div>
